
@{
    ViewData["Title"] = "Index";
}

<style>
    .section-left, section-right {
        padding: 12px 24px !important;
    }

    .product-name {
        font-family: 'Playfair Display';
        letter-spacing: 5px;
    }

    .description {
        color: #757575 !important;
    }

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .fas {
        color: #fdca13;
    }
</style>

<div id="product-detail"></div>

<hr />

<environment include="Development">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/lib/eventemitter2.js"></script>
    <script src="~/lib/snabbdom/snabbdom-browser.js"></script>
    <script src="~/js/pages/products/product-detail.js"></script>
</environment>

<script>
    (function () {
        FrontendPageClient = new ProductDetail().Render();
    })();
</script>


